
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    background-image: url(design1_image1.jpg);
    margin: 0;
    padding: 0;
    width: 1000px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}


a{
    color: blue;
    margin-top: 25px;
}

section{
    padding: 20px;
}

h2 {
    
    margin: 0;
    text-align: center;
    padding: 0;
    border: 0.5px solid white;
    color: white;
    background-color: black;
    width: 1000px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;

}

#Logo1{
    display: inline-block;
    margin-left: 870px;
    border: 1px solid black;
    position: relative;
    bottom: 70px;
    background: white;
}

h1{
    position: relative;
    top: 20px;
}

h3{
    font-style: italic;
    }

p{
    
    padding: 10px;
    
}

span{
    color: blue;
}

#home1{
    color: black;
}

#about1{
    color: black;
}

#contact1{
    color: black;

}

.navegacion{ 
    margin: 0px;
    margin-left: 20px;
    position: relative;
    bottom: 120px;
    
  

}
#conteiner1{

    margin: 0px;
    bottom: -10px;
    left: 300px;
    position: absolute;
    text-align: left;

}

#conteiner2{

    margin: 0px;
    top: 420px;
    left: 300px;
    position: absolute;
    text-align: left;
    margin-right: 400px;
    text-indent: 20px;
    box-sizing: border-box;

}

#conteiner3{

    margin: 0px;
    top: 410px;
    left: 300px;
    position: absolute;
    text-align: left;
    box-sizing: border-box;
   
}

.listas{
    
    margin: 0px;
    padding: 20px;
    top: 410px;
    left: 300px;
    position: absolute;
    text-align: left;
    box-sizing: border-box;
    width: 700px;
    
}

.lista2{
    list-style-type:lower-latin;
    
}

#sangria1{
    text-indent: 20px;
}

#parrafo{
    text-indent: 20px;
}

.lista3{
    list-style-type:circle;
    margin: 2px;
    margin-left: 50px;
        
}

#titulo1{
    font-size: 20px;
}