
header{
    padding: 10px;
    box-sizing: border-box;
    }

nav{
    padding: 10px;
    
}

a{
    color: blue;
}

section{
    padding: 20px;
}

h2{
    color: white;
    background-color: black;
    font-style: oblique;
    
}h3{
    font-style: italic;
    }

.p{
    
    padding: 1px;
    
}

span{
    color: blue;
}